repos:
  - repo: https://github.com/PyCQA/isort
    rev: master  # stable
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        types:
          - python

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.790'
    hooks:
    - id: mypy
      files: ibis_omniscidb/
