# core
ibis-framework
pymapd>=0.24
pyarrow>=0.15.0
numpy<1.20
rbc-project

# dev
black
pip
pre-commit
pytest
pytest-cov
pytest-mock
mock
flake8
flake8-comprehensions
mypy
isort
pydocstyle
setuptools-scm
