name: Main

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  tests:
    name: Tests OmniSciDB
    runs-on: ubuntu-latest
    env:
      BACKENDS: "omniscidb"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7"]
        pymapd-version: ["stable", "dev"]
    steps:
    - name: checkout
      uses: actions/checkout@v1

    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: start omniscidb service
      run: docker-compose --file ci/docker-compose.yaml up -d omniscidb

    - name: wait for omniscidb service
      run: docker-compose --file ci/docker-compose.yaml up waiter

    - name: install dependencies
      run: |
        if [[ "${{ matrix.pymapd-version }}" == "dev" ]]; then
          grep -v "pymapd" requirements.txt > requirements_no_pymapd.txt
          python -m pip install -r requirements_no_pymapd.txt
          pip install git+https://github.com/omnisci/pymapd.git
        else
          python -m pip install -r requirements.txt
        fi
        python -m pip install -e .

    - name: show environment
      run: pip list

    - name: setup tests
      run: python ci/setup_tests.py

    - name: run tests
      run: python -m pytest ibis_omniscidb -ra --junitxml=junit.xml --cov=ibis --cov-report=xml:coverage.xml

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:

    - name: checkout
      uses: actions/checkout@v1

    - name: setup python
      uses: actions/setup-python@v2
      with:
        python-version: "3.7"

    - name: install dependencies
      run: |
        python -m pip install -r requirements.txt
        python -m pip install -e .
        pre-commit install

    - name: show environment
      run: pip list

    - name: pre-commit check
      run: pre-commit run --all-files

    - name: pydocstyle
      run: pydocstyle .
      if: always()
