name: Main

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  tests:
    name: Tests OmniSciDB
    runs-on: ubuntu-latest

    env:
      BACKENDS: "omniscidb"

    strategy:
      fail-fast: false
      matrix:
        pyomnisci-version: ["stable", "dev"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - name: checkout
      uses: actions/checkout@v1

    - name: setup conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: ibis-omniscidb
        channels: conda-forge
        environment-file: environment-dev.yaml
        mamba-version: "*"

    - name: start omniscidb service
      run: docker-compose --file ci/docker-compose.yaml up -d omniscidb

    - name: wait for omniscidb service
      run: docker-compose --file ci/docker-compose.yaml up waiter

    - name: install dependencies
      run: |
        if [[ "${{ matrix.pyomnisci-version }}" == "dev" ]]; then
          python -m pip install --no-deps git+https://github.com/omnisci/pyomnisci.git
          python -m pip install git+https://github.com/ibis-project/ibis.git
        fi
        python -m pip install --no-deps -e .

    - name: show environment
      run: conda list

    - name: setup tests
      run: python ci/setup_tests.py

    - name: run custom backend tests
      run: python -m pytest ibis_omniscidb -ra --junitxml=junit.xml --cov=ibis --cov-report=xml:coverage.xml

    - name: run ibis backend tests
      run: PYTEST_BACKENDS="omniscidb" python -m pytest --pyargs ibis.backends.tests
      if: always()
  lint:
    name: Lint
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:

    - name: checkout
      uses: actions/checkout@v1

    - name: setup conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: ibis-omniscidb
        channels: conda-forge
        environment-file: environment-dev.yaml
        mamba-version: "*"

    - name: install dependencies
      run: |
        python -m pip install --no-deps -e .
        pre-commit install

    - name: show environment
      run: conda list

    - name: pre-commit check
      run: pre-commit run --all-files

    - name: pydocstyle
      run: pydocstyle .
      if: always()
